<div style="white-space: pre-line; font-family: monospace; color: #32cd32; background: #0d0d0d; padding: 2em; border-radius: 1em;">
-- --- .-. ... . / - --- / -... .- ... . -....- - .... . -. / -..- --- .-. / .-- .. - .... / -..- / -.- . -.--
  
X = The Answer to the Ultimate Question of Life, the Universe, and Everything
  
ZGVjb2RlIGl0IHVzaW5nIFgga2V5OiBPQk9CT0ZPQk9NT0ZPQk9CT0ZPSE9MT0xPRk9CT0JPRk9CT05PRk9CT05PRk9IT0xPTE9GT0JPQk9GT0JPTk9GT0JPQk9GT0NPSE9GT0JPQk9GT0hPTE9NT0ZPQk9OT0ZPSE9MT0xPRk9CT0NPRk9CT09PRk9CT0NPRk9CT0xPRk9CT0JPRk9CT01PRk9CT0JPRk9CT0M=
</div>
